.sticky-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
    font-size: 24px;
}

.icon:hover {
    transform: scale(1.1);
}

.whatsapp-icon,
.contact-icon,
.up-arrow-icon {
    background-color: wheat;
    color: green;
    border: none;
}

.up-arrow-icon {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.up-arrow-icon.visible {
    opacity: 1;
    transform: scale(1);
}
